@page "/"
@using ficym.Components.Cards
@using ficym.Entities;
@using ficym.IServices.location;

<div class="container">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
        <div class="col">
            <LocalizacaoCard OnGeoLocationRetrived="OnGeoLocationRetrived"></LocalizacaoCard>
        </div>
    </div>
</div>

@code
{
    [Inject]
    private Coordenadas loc { get; set; }

    private void OnGeoLocationRetrived(Coordenadas coordenadas)
    {
        this.loc = coordenadas;
    }
}
